body {
  font-family: 'Roboto', sans-serif;

  .pac-container { // auto-complete dropdown
    z-index: 99999;
  }
}

body * {
  box-sizing: border-box;
}

.App {
  display: block;
  width: 100%;
}

.App__row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
}