body {
  font-family: 'Roboto', sans-serif;
}

body * {
  box-sizing: border-box;
}

.App {
  display: block;
  width: 100%;
}

.App__row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
}